body {
    text-align: center;
    background: #FF4D6D;
    background-size: cover;
    height: 510px;
    
}

.container {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    margin: 10px auto;
    padding-bottom: 0px;
}

h1 {
    color: #800F2F;
    text-shadow: 0px 0px 8px #FFB3C1;
    margin-top: 30px;   
    font-family: cursive;
}

button {
    margin-bottom: 20px;
    padding: 8px;
    margin: 0px auto 20px;
    border: none;
    width: 113px;
    font-size: 20px;
    background-color: #800F2F;
    color: #FFF0F3;
    border-radius: 8px;
    font-family: cursive;
}

#output {
    border: 2px solid #FFF0F3;
    height: 260px;
    width: 300px;
    padding: 5px 0px;
    background-color: #FF8FA3;
    border-radius: 5px;
    font-size: 21px;
    margin: 0px auto;
}

#hearts {
    margin: 8px 1px;
}

#copy-btn{
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
}

::selection {
    background: none;
}