html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #ffe0e9;
    background-size: cover;
    height: 510px;
    user-select: none;
    font-size: 17px;
}

.container {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    margin: 30px auto 10px;
}

h1 {
    color: #522e38;
    margin-top: 30px;   
}

button {
    padding: 8px;
    margin: 20px auto 30px;
    border: none;
    width: 113px;
    font-size: 20px;
    background-color: #800F2F;
    color: #FFF0F3;
    border-radius: 8px;
}

#output {
    border: 2px solid #522e38;
    height: 274px;
    width: 300px;
    padding: 5px 0px;
    background-color: #FF8FA3;
    border-radius: 5px;
    font-size: 21px;
    margin: 0px auto;
}

#hearts {
    margin: 8px 1px;
}

button:hover {
    cursor: pointer;
    
}

::selection {
    background: none;
}